@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

:root {
    --primary-color:#0ea5e9;
    --dark-grey:#4b5563;
    --off-white:#f1f5f9;
}

body{
    font-family: 'Montserrat', sans-serif;
    margin: 0% 0.5% ;
}

hr{
    margin: 1.5rem 0rem;

}



/* spaces */



/* container */

.container{
    padding: 2rem 1rem;
}

.container-center{
    max-width: 600px;
    margin: auto;
    text-align: center;
}

/* links */

.link{
    text-decoration: none;
    padding: 0.5rem 1rem ;
}

.link--primary{
    background-color: var(--primary-color);
    border-radius: 0.5rem ;
    color:white;
}

.link--secondary{
    color: var(--primary-color);
    border-radius: 0.5rem ;
    border: 1px solid var(--primary-color);
}

/* lists */

.list__non-bullet{
    list-style: none;
}

.list__item-inline{
    display: inline;
    padding-left:  0.5rem;
}

/* navigation */

.navigation{
    background-color: var(--primary-color);
    color: white;
    padding: 1rem ;
    border-bottom-left-radius: 1rem ;
}

.navigation .navigation__brand{
    font-weight: bold;
    font-size: 1.1 ren;
}

.navigation .link{
    color: white;
}

.navigation .navigation__pills{
    text-align: right;
    padding: 0rem;
}

.navigation .link__active{
    font-weight: bold;
}

/* header */

.hero{
    padding: 2rem;
    padding-top: 5rem;
}

.hero-img{
    max-width: 80%;
    display: block;
    margin: auto;
}

.hero-heading{
    padding-top: 1rem;
    color:var(--dark-grey) ;
    text-align: center;
}

.hero .hero-heading .hero-star{
    color: var(--primary-color)
}

/* section */

.section{
    padding: 2rem;
}

.section h1 {
    text-align: center;
}

.ow{
    background-color: var(--off-white);
    border-radius: 1rem ;
}

/* footer */

.footer{
    background-color: var(--primary-color);
    padding: 2rem 0rem;
    text-align: center;
    color: white;
    border-top-right-radius: 1rem ;
}

.footer .link{
    color: white;
}

.footer .footer-header{
    font-weight: bold;
    font-size: large;
}

.footer .ul{
    padding-inline-start: 0px;
}

.social-links{
    padding-left: 0%;
}
